/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;;
    margin-top: 68px;
    padding: 6rem;}

    .toggleDarkmode{
    margin-bottom: 35px;
    margin-right:10px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;;
    padding: 6rem;}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 920px) {
  .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 6rem;}

} 
@media only screen and (min-width: 768px) {
  .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 6rem;}

    .navfont{
        font-size: 1.25rem /* 20px */;
        line-height: 1.75rem /* 28px */;
    }
    .toggleDarkmode{
    margin-top: -44px;
    }

    

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 6rem;}
    .navfont{
      font-size: 1.25rem /* 20px */;
      line-height: 1.75rem /* 28px */;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .herovid {   display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 6rem;}



}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logoimg {display:none;

   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logoimg {display:none; 
   
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 708px) {
  .logoimg {display:block;
    width: 200px;
    
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logoimg {display:block}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logoimg {display:block}
}